<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>TinyLink</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100">

  <!-- Navbar -->
  <nav class="bg-blue-600 p-4 text-white text-center text-xl font-bold">
    TinyLink — URL Shortener
  </nav>

  <!-- Main Container -->
  <div class="container mx-auto px-4 py-6">
    <%- include(viewContent) %>
  </div>

  <!-- Footer -->
  <footer class="text-center text-gray-500 py-6">
    © 2025 Mani Sharma — All Rights Reserved
  </footer>

</body>

</html>
